#header {
    position: relative;
    z-index: 10;
    max-width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
}

body {
    background: #f0f2f5;
}

.clear {
    clear: both;
}

.logo {
    float: left;
    height: 46px;
    line-height: 46px;
}

.nav-button {
    margin-top: 7px;
    margin-left: 12px;
    float: right;
}

.ant-modal-footer {
    text-align: center;
}

.login-form-button {
    width: 100%;
}

.sign-modal {
    text-align: "center";
    max-width: 330px;
}

.sign-icon {
    color: rgba(0, 0, 0, .25);
}

.book-img {
    width: 100px;
    height: 150px;
    border: 1px solid #f0f0f0;
}

.book-title {
    color: rgba(0, 0, 0, 0.65);
}

.book-title:hover {
    color: #f26552;
}

.book-detail-img {
    padding-right: 20px;
    border-right: 1px solid #d9d9d9;
}

.book-detail-info {
    padding-left: 30px;
}

.book-price {
    font-size: 36px;
    color: #e52222;
}

.book-amount-plus {
    font-size: 23px;
    border: 0 !important;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0.65);
}

.cart-price {
    font-size: 28px;
}

.book-form {
    margin-bottom: 0;
}